@charset "UTF-8";
/* CSS Document */


body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "lato", sans-serif;
    font-weight: 400;
    border: 0;
	scroll-behavior: smooth;
}
/* ------------------- - --------------- */
/* navigations baren i toppen */
.navigation {
    width: 100%;
    height: 75px;
    background: white;
    opacity: 0.9;
    position: fixed;
    top: 0;
    z-index: 100;
    text-align: right;
}
#header-a, #header-b, #header-c, #header-d, #header-e {
    text-decoration: none;
    color: grey;
    font-size: 15px;
    line-height: 5em;
    position: relative;
    margin-right: 50px;
    z-index: 100;
}
#header-a:hover, #header-b:hover, #header-c:hover, #header-d:hover, #header-e:hover {
    color: black;
}
#sweetbotlogo {
    float: left;
    height: 75px;
    width: auto;
    margin-top: 0;
    margin-left: 0;
}
/* ---------- - ------------------- */
/* drop  down menu i søge feltet */
.dropbtn {
    background-color: white;
    border: none;
    margin-top: 20px;
    margin-right: 10px;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: none;
}
.dropdown {
    float: right;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 60px;
    min-width: 160px;
    overflow: auto;
    right: 0;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    background-color: #ddd;
}
.show {
    display: block;
}
/* ------ -- -- - -- --- ---  */
/* Søgebarens styling */

.search {
    width: auto;
    height: 38px;
    float: right;
    margin-right: 5px;
}
/* Søge feltet */
.search-form {
    margin: 2px;
    float: right;
    display: inline-flex;
}
input[type=text] {
    padding: 7px;
    outline: .5px solid gery;
    font-size: 16px;
    font-family: sans-serif;
}
button {
    float: right;
    color: black;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    height: 36px;
    width: 60px;
    outline: 1px solid grey;
    margin-right: 8px;
}
/* ----------- ------------ */
/* slideshowet på forsiden */
.img-slide {
    width: auto;
    height: 100%;
    display: block;
    margin: 25px auto;
}
#slideshow {
    margin: 50px auto;
    position: relative;
    width: auto;
    height: 100%;
    padding: 10px;
}
#slideshow > div {
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
}
/* her kommer det statiske billede under slideshowet */

#hotbotE {
    display: block;
    position: absolute;
    top: 10%;
    left: 11.7%
}
 @-webkit-keyframes fadeIn {
from {
opacity:0;
}
to {
opacity:1;
}
}
@-moz-keyframes fadeIn {
from {
opacity:0;
}
to {
opacity:1;
}
}
@keyframes fadeIn {
from {
opacity:0;
}
to {
opacity:1;
}
}
.fade-in {
    opacity: 0;  /* make things invisible upon start */
    -webkit-animation: fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}
.fade-in one {
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    animation-delay: 2.5s;
}
/* sektionerne services, om os & kontakt */
.Services-light {
    background-color: #B5B2B0;
    padding-top: 1%;
    padding-bottom: 2.5%;
    opacity: 0.8;
}
#Projekter {
    margin-top: 22%;
}
h2 {
    text-align: center;
}
#textlorem {
    text-align: left;
    margin-left: 1%;
    column-count: 3;
	max-width: 1045px;
	margin: 0 auto;
}
#textlorem1 {
    column-count: 2;
	max-width: 1045px;
	margin: 0 auto;
}
/*Her styles der på billederne i undersektionerne*/

#services-img {
    
	margin: 3% 15%
	
}
#services-img .box {
    float: left;
    
    
    padding: 10px;
	
}
#services-img .box img {
    width: 330px;
	
}
/* Overlay til webudvk. security, supreme */
.img1 {
    margin: 0 auto;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}
.webudviklingoverlay {
    width: auto;
}
/* overlay til webudvikling billede */

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
    cursor: pointer;
}
#text {
    position: absolute;
    top: 50%;
    left: 52%;
    font-size: 50px;
    color: white;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.knap1 {
	margin-right: 40%;
	width: auto;
}
.knap2 {
	margin-right: 40%;
	width: auto;
}
.knap3 {
	margin-right: 15%;
	margin-top: .5%;
	width: auto;
}
/* Projekter (billede sektion) */
.flex-container {
    display: flex;
    flex-wrap: wrap;
	
}
.pic2 img, .pic3 img, .pic4 img, .pic5 img, .pic6 img, .pic7 img {
    width: auto;
    height: 300px;
    position: relative;
    padding: 30px;
	margin: 0 auto;
}
/* overlay*/
.flex-container div img {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    transition: transform 2s;
}
.flex-container div img:hover {
    transform: scale(1.1);
}
/* Kontakt sektion */
.kontakt {
    text-align: center;
    padding-bottom: 2%;
}
#contactbox {
    margin-left: 15%;
}
ul {
    list-style-type: none;
}
#CEO {
    margin-top: 20px;
    display: flex;
}
#CEO .ceobox {
    width: 30%;
    text-align: center;
    margin-left: 13%;
}
#CEO .ceobox img {
    height: 270px;
}
footer {
    background-color: #B5B2B0;
    border-left: solid black;
    padding-top: 2px;
}
.footercontact {
    display: inline-block;
    width: 36%;
    margin-left: 20%
}
.klassisk-ikon {
    height: 60px;
    width: auto;
    position: relative;
    float: left;
    clear: left;
}
.ikontext {
    position: relative;
    float: right;
    clear: right;
}
.ia {
    margin-right: 30%
}
.ib {
    margin-right: 12.5%
}
.id {
    margin-right: 5.5%
}
.footercontactbox {
    width: auto;
    margin-left: 40%;
}
.footercontact2 {
    display: inline-block;
}
.facebook, .Linkedin, .Instagram, .Twitter {
    height: 70px;
}
hr {
    width: 50%
}
.klassisk-ikon {
    height: 60px;
    width: auto;
}
/* Burger menu til mobile first */
#burgermenu {
    display: none;
}
.burger-button {
    background-color: white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 0;
    cursor: pointer;
}
.burgerdown {
    position: relative;
    display: block;
    float: right;
    color: #B5B2B0;
}
.burger-content {
    display: none;
    position: inherit;
    background-color: #ddd;
    min-width: 10%;
    box-shadow: 0px 8px 8px 0px rgba(147,147,147,0.05);
    z-index: 1;
}
.burger-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.burger-content a:hover {
    Background-color: #B5B2B0;
}
.burgerdown:hover .burger-content {
    display: block;
}
.burgerdown:hover .burger-button {
    background-color: none;
    position: relative;
}

/* ------------ - --------------- */

@media(min-width: 570px)  and (max-width : 1024px) {
#header-a, #header-b, #header-c, #header-d, #header-e {
    display: none;
}
#sweetbotlogo {
    height: 70px
}
.navigation {
    width: 100%;
    height: 70px;
}
#hotbotE {
    margin-left: -10%;
}
#burgermenu {
    display: block;
    margin-right: 90px;
    margin-top: 15px;
    padding: 0 5px;
}
#services-img {
    width: auto;
    padding: 5px;
    margin: 5px;
}
.webudviklingoverlay {
    margin-top: 11%
}
#Projekter {
    margin-top: 25%
}
.pic2, .pic3, .pic4, .pic5, .pic6, .pic7 {
    height: 150px;
    width: auto;
    margin-bottom: 25%;
}
.flex-container {
    width: 80%;
    
}
.footercontact {
    width: auto;
}
}

@media(max-width : 767px ) {
.navigation {
    width: 100%;
    height: 50px;
	
}
#header-a, #header-b, #header-c, #header-d, #header-e {
    display: none;
}
#slideshow {
    display: none;
}
#hotbotE {
    display: none;
}
.tlf-billede {
    background-image: url("hot_bot_logo_alene.png");
    width: auto;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
#services-img {
    display: block;
}
#services-img {
    width: 17%;
	margin-left:10%
	
}
	.flex-container {
		max-width: 80%;
    width: 80%;
    
}
	.dropbtn {
		display:none;
	}
.webudviklingoverlay {
    position: absolute;
    margin-top: 20%;
    margin-left: 20%
}
#Projekter {
    margin-top: 220%;
}
	#textlorem {
		column-count: 1;
		max-width: 400px;
	}
	#textlorem1 {
		column-count: 1;
		max-width: 400px;
	}
.pic2, .pic3, .pic4, .pic5, .pic6, .pic7 {
    height: 200px;
    width: auto;
    margin-bottom: 30%;
	left:0;
}
#Om-os {
    padding: 0;
	margin-top: 10%;
}
#sweetbotlogo {
    width: auto;
    height: 50px;
}
.dropbtn {
    margin-top: 5px;
}

#burgermenu {
    display: block;
    
    padding: 0 5px;
	
}
.footercontact {
    max-width: 80%;
	width:50%;
}
.footercontact2 {
    margin-left: -20%
}
	#text{
		font-size: 10px;
	}
}
