@charset "utf-8";
/* CSS Document */
/*Intern stylesheet*/




div.flex-item {
	
	display: flex; 
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around; /*fordeler "børnene" vandret*/
		height: 50%;
	width: 100%;
		
		align-items: flex-start; /* fordeler "børnene" /flex items) lodret*/
		align-content: flex-end; /*fordeler "børnene", når de ligger i flere rækker */
}


.flex-item{
		flex: 33.33%;
		margin: 10px;
		padding: 5px;
		width: 200px;
	}