@charset "utf-8";
/* CSS Document */
/*Intern stylesheet*/




#row {

	display: flex; 

		flex-wrap: wrap;
		justify-content: center; /*fordeler "børnene" vandret*/
		height: 100%;
	width: 100%;
	position:relative;
	
		
		align-items: flex-end; /* fordeler "børnene" /flex items) lodret*/
		align-content: flex-end; /*fordeler "børnene", når de ligger i flere rækker */
	
}

div.flex-item {
	margin: 3%;
}
