@charset "utf-8";
/* CSS Document */


body {

}




.align-text {
	text-align: center;
	font-family: 'Roboto Condensed', "sans-serif";
	
}


.tekst {
	line-height: 2;
	font-family: "Roboto Condensed", "sans-serif";
	
}



#space-info {
	
	padding-top: 2%; 
	
}



#space_skills{
	
	padding-bottom: 5%;
	padding-top: 5%;
}



.info {
	padding-top: 6%;
	
}












