@charset "utf-8";
/* CSS Document */

div.container {
	box-sizing: border-box;
	position: relative;
	width: 30%;
	font-family: 'Indie flower', sans-serif;/*fjerner font typen "Roboto Condensed"*/
	left: 10%;
	
	
	
	
	
	
	
	
	
}


/* Style inputs */
input[type=text], select, textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
	margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #CDCDCD;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #E7AA41;
}

/* Style the container/contact section */
.container { 
     padding: 10px;
	
}



div.information {
	font-family: 'Indie flower', sans-serif;
	list-style-type: none;
	line-height: 3.0;
	position: absolute;
	top: 20%;
	left: 45%;
	font-size: 25px;
	
}



#mobildrawing{
	position: relative;
	left: 65%;
	bottom: 35vh;
}



