@charset "utf-8";
/* CSS Document */

div.container {
	box-sizing: border-box;
	position: relative;
	width: 40%;
	border: solid #C1C1C1;
	font-family: 'Roboto Condensed', sans-serif;
	left: 10%;
	bottom: 15vh;
	background: #E8E8E8;
	
	
	
	
	
}


/* Style inputs */
input[type=text], select, textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
	margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #CDCDCD;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #797979;
}

/* Style the container/contact section */
.container { 
     padding: 10px;
	
}



div.information {
	font-family: 'Roboto Condensed', sans-serif;
	list-style-type: none;
	line-height: 3.0;
	position: absolute;
	bottom: 47vh;
	left: 52%;
	transform: rotate(-5deg);
}







