@charset "utf-8";
/* CSS Document */
/*ekstern stylesheet*/

nav a {
	color: black;
	text-decoration: none;
	margin: 1px 15px 1px 15px;
	font-family: 'indie Flower', sans-serif; /*Roboto Condensed*/
	position: relative; /*bruges til give valgte ting (i dette tilfælde menuen) et sted og gå efter så jeg kan flytte den*/
	left: 49%;	/*rykker den mod left, da den ikke skal rykke til venstre, men skal gå 550px ud fra venstre*/
	margin-right: 2%;/*using margin and padding for spacing, in my menu text*/
	margin-left: 4.8%;
	display-inline: flex;
	top: 5vh;
	letter-spacing: 1px;
	font-size: 25px;
	
	
}

nav a:hover {
	color:orange;
}

h1 {
	font-family: 'indie Flower', sans-serif;/*Roboto Condensed*/
	font-size: 70px;
	position: relative;
	font-weight: 300;
	left: 5%;
	bottom: 40px;
	text-shadow: 4px 5px 7px #D5DBDB;
	display: inline;
	letter-spacing: 10px;

	
}



div.line {
	border-bottom-style: solid;
	color: black;
	width: 91%;
	position: relative;
	left: 5%;
	bottom: 8vh;
	
	
}

.body {
	
	height: 100%; /* Sets the body to fill the whole screen */

}

/*vertical line Contact page*/
/*removed vertical line for now... div#verticalline {
	border-bottom-style: solid;
	color: black;
	width: 30%;
	position: relative;
	left: 35%;
	bottom: 14vh;
	transform: rotate(90deg);
	}*/



/*Contact page SoMe icons*/

div.some {
	position: absolute;
	left: 37%;
	letter-spacing: 80px;
	bottom: 5%;
	
	
	
}






