@charset "utf-8";
/* CSS Document */
/*ekstern stylesheet*/


/*foont*/
	
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Permanent+Marker');


.topnav a {
	color: black;
	text-decoration: none;
	/*(fjernede) margin: 1px 15px 1px 15px;*/
	font-family: 'indie Flower', sans-serif; /*Roboto Condensed*/
	position: relative; /*bruges til give valgte ting (i dette tilfælde menuen) et sted og gå efter så jeg kan flytte den*/
	left: 51%;	/*rykker den mod left, da den ikke skal rykke til venstre, men skal gå 550px ud fra venstre*/
	/*(fjernet) margin-right: ;*//*using margin and padding for spacing, in my menu text*/
	margin-left: 2%;/*space between the navs*/
	/*fjernet display-inline: flex;*/
	top: 5vh;
	letter-spacing: 1px;
	font-size: 25px;

	
	
}


	



.topnav a:hover {
	color:orange;
}

h1 {
	font-family: 'indie Flower', sans-serif;/*Roboto Condensed*/
	font-size: 70px;
	position: relative;
	font-weight: 300;
	left: 5%;
	bottom: 40px;
	text-shadow: 4px 5px 7px #D5DBDB;
	display: inline;
	letter-spacing: 10px;

	
}



div.line {
	border-bottom-style: solid;
	color: black;
	width: 91%;
	position: relative;
	left: 5%;
	bottom: 8vh;
	z-index: 99;
	
	
}



@media (max-width:500px){
	#nav a {
		width: 200px;
		font-size: 15px;
		left: 80px;
		top: 60px;
		
		
		
	}	
}

@media (max-width:500px){
	h1 {
		font-size: 30px;
		top: 1px; 
		left: 130px;
	}
}


@media (max-width:500px){
	.line {
		display: none;
	}
}




.body {
	
	height: 100%; /* Sets the body to fill the whole screen */

}





/*Contact page SoMe icons*/

div.some{
	position: absolute;
	left: 37%;
	letter-spacing: 80px;
	bottom: 5%;
	
	
	
}





/*bruges til h1/h2 overskrift i work og work siderne*/
#school {
	font-family: "indie flower", sans-serif;
	font-size: 45px;
	text-align: center;
	color: #FFA438;
}

/*decoration på min font i mine works og flow*/

.font {
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 200%;
	
	
	
	
}

/*gør min tekst midter centreret*/
	
.align {
	text-align: center;
	font-family: "indie flower", "sans serif";
	
}





/*laver alle mine links i flowene tl den samme style */
.link {
	font-family: "indie flower", "sans serif";
	color: black;
	font-size: 17px;
		
}
		
.link:hover {
	color:orange;
}


.link-neden {
	color: black;
	padding-bottom: 5%;
	font-size: 20px;
	font-family: "indie flower", "sans-serif";
}

.link-neden:hover {
	color:orange;
}


/*har givet hvert side som man skal være på en class som heder active, så jeg viser brugeren hvilken side de er på*/

.active {
	color: coral;
}




.col-1-4 {
	padding-bottom: 2%;
}

.col-1-1 {
	padding-top: 2%;
}




@media (max-width:500px){
	img {
		width: 200px;
	}	
}





.font-head {
	font-family: "indie flower", "sanse serif";
	font-size: 40px;
	
}


#side {
	text-decoration: none;
	color: coral;
}





/*Footer design*/


#h3 {
	
	color: #999999;
	
	
	
	
}

footer {
	background-color:#E3E3E3;  
	/*background-color:rgba(255,176,83, .4); til at give background opacity*/
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 130%;
	
	
}

.information {
	font-family: 'Roboto Condensed', sans-serif;
	display: inline;
	margin: 3%;
	color: #999999;
	font-size: 80%;
	
	
	
	
	
}

.someto {
	margin: 4%;
	
	
	
	
	
	
}

#by{
	color: #999999;
	font-size: 80%;
	
}

















