@charset "utf-8";
/* main portfolio styles */




	
/*aldrig brug # !!!!!!! i felxbox-metoden*/
nav a {
	color: black;
	text-decoration: none;
	margin: 1px 15px 1px 15px;
	font-family: 'Roboto Condensed', sans-serif;
	position: relative; /*bruges til give valgte ting (i dette tilfælde menuen) et sted og gå efter så jeg kan flytte den*/
	left: 785px;	/*rykker den mod left, da den ikke skal rykke til venstre, men skal gå 550px ud fra venstre*/
	margin-right: 30px;/*using margin and padding for spacing, in my menu text*/
	margin-left: 70px;
	display-inline: flex;
	top: 95px;
	letter-spacing: 1px;
	
}



	

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: 10px;
	font-size: 70px;
	position: relative;
	font-weight: 300;
	left: 45px;
	top: 20px;
	text-shadow: 4px 5px 7px #D5DBDB;
	display: inline;

	
}





p {
	position: relative;
	font-family: 'Roboto Condensed', sans-serif;
	top: 25px;
	left: 46px;
	letter-spacing: 10px;
	display: inline;
}


div.line {
	border-bottom-style: solid;
	color: black;
	width: 1360px;
	position: relative;
	top: 15px;
	left: 46px;
	
	
}

div.firkant {
	position: relative;
	top: 200px;
	width: 98%;
	right: 50px;
	border: solid #B1B1B1;
}
 

img.yellowme {
	position:absolute;
	top: 16%;
	left: 52px;
	
}
img.logo {
	position: relative;
	left: 830px;
	bottom: 60px;
	
	
	
}





















	

