@charset "utf-8";
/* main portfolio styles */




	
/*aldrig brug # !!!!!!! i felxbox-metoden*/
nav a {
	color: black;
	text-decoration: none;
	margin: 1px 15px 1px 15px;
	font-family: 'Roboto Condensed', sans-serif;
	mergin-left: 0;
	
}
	
	


	
	
 
	

