@charset "utf-8";
/* CSS Document */
/*Intern stylesheet*/











#row {

    display: flex;

        flex-wrap: wrap;
        justify-content: center; /*fordeler "børnene" vandret*/
        height: 80%;
    width: 80%;
    position:relative;
    left: 10%;
    
        
        align-items: flex-end; /* fordeler "børnene" /flex items) lodret*/
        align-content: flex-end; /*fordeler "børnene", når de ligger i flere rækker */
    top: 20vh;
    
}





.flex-item:hover {
    margin: 1%;
    opacity: 10;
    transition: .5s ease;
	
    
    
    

}





